<div class="footer">
  <div class="container ">
    <div class="row ">
      <div class="col-xs-6 ">
        Made with <i class="fa fa-heart"></i> in Malaysia
      </div>
      <div class="col-xs-6 text-right ">
        <ul class="list-inline">
          <li><a>FAQ</a></li>
          <li><a>About Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>