<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<div class="field-unit__field">
  <% if field.url.present? %>
    <img src="<%= field.url %>" alt="" height="250" width="250">
  <% end %>

  <%= f.file_field field.attribute %>
</div>