<div class="section category">
    <div class="container-fluid">
        <h2 class="text-center section-title invert">Feature</h2>
        <div class="row">
            <% @categories.each do |cat| %>
            <div class="col-md-4">
            <span class="glyphicon glyphicon-home fa-3x"></span>
            <h2>
                <%= cat.name.titleize %>
            </h2>
            <% documents = Document.where(category_id: cat.id).order("RANDOM()").first %>
            <h5>
                <%= documents.name.titleize %>
            </h5>
            <p>
                <%= documents.description.first(90) %> ...
            </p>
            <p>
                <a class="btn btn-info" href="#">View details »</a>
            </p>
            </div>
            <% end %>
        </div>
    </div>
</div>
