<!-- feature doc -->

<div class="section category">
  <div class="container">
    <div class="row">

    <% @categories.each do |cat| %>
      <div class="col-md-4 col-xs-6">
        <div class="card">
          <span class="glyphicon glyphicon-home fa-3x"></span>
          <h3 class="cat-title"><%= cat.name.titleize %></h3>
          <ul class="list-item">
            <% cat.top_5_documents.each do |doc| %>
              <li>
                <a href="<%= category_document_path(cat.slug, doc.slug)  %>"><%= doc.name %></a>
              </li>
            <% end %>
          </ul>
          <a class="btn btn-more" href="<%=  category_path(cat.slug) %>">More ...</a>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>