<div class="section pricing" id="price">
  <div class="container">
    <h2 class="text-center section-title invert">Pricing</h2>
    <div class="row ">

    <div class="col-md-2">
    </div>
    <% @plans.each do |plan| %>
      <div class="col-md-4">
        <div class="price-box">
          <h3><%= plan.name.titleize %></h3>
          <ul>
            <li><%= plan.description %></li>
            <li>RM <%= plan.price %></li>
            <li><%= plan.duration %> Months</li>
            <li>
              <a href="#" class="btn btn-dark btn-lg">Get it now</a>
            </li>
          </ul>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>


