<div class="section why">
  <div class="container">
    <h2 class="text-center section-title">Why us?</h2>
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="feature">
          <span class="glyphicon glyphicon-time fa-3x"></span>
          <h3>TIME SAVERS</h3>
          <p>Save your time. No need browse ol' skool style</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="feature">
          <span class="glyphicon glyphicon-search fa-3x"></span>
          <h3>SEARCH</h3>
          <p>You can quickly search for related documents.</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="feature">
          <span class="glyphicon glyphicon-folder-open fa-3x"></span>
          <h3>CATEGORIZED</h3>
          <p>All documents and forms has been in the right directory</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="feature">
          <span class="glyphicon glyphicon-file fa-3x"></span>
          <h3>NO CONTRACT</h3>
          <p>Flexible contract you can cancel anytime.</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="feature">
          <span class="glyphicon glyphicon-thumbs-up fa-3x"></span>
          <h3>EFFICIENT </h3>
          <p>Improve your productivity by using Legal Docs.</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="feature">
          <span class="glyphicon glyphicon-cloud fa-3x"></span>
          <h3>CLOUD TECHNOLOGY</h3>
          <p>With CDN, you can access the file anywhere anytime.</p>
        </div>
      </div>
    </div>
  </div>
</div>