<h3>Index</h3>


<% @documents.each do |doc| %>
  Name: <%= doc.name %>
  Description: <%= doc.description %>
  <a href="<%= doc.file_url %>" target="_blank">Download Now</a>
<% end %>


<%= link_to 'upload file', new_document_path %>
