
<div class="section pricing" id="price">
  <div class="container">
    <h2 class="text-center section-title invert">Subscription</h2>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

        <%= simple_form_for(@subscription)do |f| %>
          <%= f.hidden_field :plan_id, value: @plan_id  %>
          <%= f.input :terms_and_conditions, as: :boolean, label: ("I agree to the <strong>#{link_to 'Terms and Conditions', "#"}</strong>.").html_safe %>
          <div class="submit-field">
            <%= f.button :submit %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

